html {
    background: #ccc;
    font-family: Arial sans-serif;
}

.board {
    margin: 20px;
    border: 1px solid #000;
    padding: 20px;
    display: inline-block;
}

.board__row {
    display: flex;
}

.board__cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 40px;
}

.board__cell_black {
    background: #000;
}

.board__cell_white {
    background: #fff;
}

.board__cell_movable {
    position: relative;
}

.board__cell_movable:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 50%;
}

.board .piece-black,
.board .piece-white {
    cursor: pointer;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
}

.box__pieces {
    display: flex;
    font-size: 40px;
}

.box__pieces_white {
    color: #fff;
}

.box__pieces_black {
    color: #000;
}

.board__cell_black.piece-black {
    color: green;
}

.board__cell_black.piece-white {
    color: white;
}

.board__cell_white.piece-black {
    color: black;
}

.board__cell_white.piece-white {
    color: saddlebrown;
}

.box__piece {
    margin: 4px 10px;
}