html {
    background: #ccc;
    font-family: Arial sans-serif;
}

.board {
    margin: 20px;
    border: 1px solid #000;
    padding: 20px;
    display: inline-block;
}

.board__row {
    display: flex;
}

.board__cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 40px;
}

.board__cell_black {
    background: #000;
}

.board__cell_white {
    background: #fff;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
}

.box__pieces {
    display: flex;
    font-size: 40px;
}

.box__pieces_white {
    color: #fff;
}

.box__pieces_black {
    color: #000;
}

.box__piece {
    margin: 4px 10px;
}