html {
    background: #ccc;
    font-family: Arial;
}

.board {
    border: 1px solid #000;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 800px;
    height: 800px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    position: relative;
}

.cell.black {
    background: #000;
}

.cell.white {
    background: #fff;
}

.coordinate {
    position: absolute;
}

.coordinate-x {
    bottom: 4px;
}

.coordinate-y {
    left: 4px;
}

.box {
    display: inline-block;
    border: 1px solid #000;
    margin: 1em;
    padding: 1em;
}

.box-line {
    border: 1px solid #999;
    margin: 4px;
    padding: 4px;
    display: flex;
}

.piece {
    font-size: 50pt;
    margin: 4px 20px;
}